<h1>Order requested</h1>

<p>Dear @order.name,<br>
thank you very much for your order request and for using LoSibaritas.com</p>
<p>The chef has been informed about your request and will soon review your request and hopefully accept it.</p>
<p>Until then - stay tuned!</p>
<p>Kindest regards, <br> LoSibaritas</p>