<div class="cover">
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><span style="font-family:Handlee; color:#FFF">LoSibaritas</span></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#" style="color:#FFF">¡Soy chef!</a>
          </li>
          <li>
            <a href="#contact" style="color:#FFF">Contáctenos</a>
          </li>
          <li>
            <a href="http://losibaritas.tumblr.com" target="new" style="color:#FFF">Blog</a>
          </li>
          <li>
            <a href="#team" style="color:#FFF">Nuestro Equipo</a>
          </li>
          <li><%=link_to 'English', url_for( :locale => 'en' ), style: "color:#FFF"%></li>
          <li><%=link_to 'Castellano', url_for( :locale => 'es' ), style: "color:#FFF"%></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="cover-image" style="background-image : url('https://s3-sa-east-1.amazonaws.com/losibaritas/launchpage.jpg')"></div>
  <div class="container">
    <div id="carousel-example" class="carousel slide" data-ride="carousel" data-interval="5000">
      <div class="carousel-inner">
        <div class="item active">

          <!-- First event -->
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="row">
                <div class="col-md-12">
                  <div class="section">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12">
                          <h1 class="text-inverse">Jaime Pesaque cocina en tu casa</h1>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                          <a href="#"><img src="https://s3-sa-east-1.amazonaws.com/losibaritas/Jaime.jpg" class="img-circle img-responsive"></a>
                        </div>
                        <div class="col-md-4"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-inverse"><i class="fa fa-map-marker"></i> Lima - <i class="fa fa-calendar"></i> 27 junio 2015 - <i class="fa fa-money "></i> S./ 149 por persona</p>
              <br>
              <%= link_to t(:MenuBookNow), event_path(1), class: 'btn btn-lg btn-primary', style: 'color:#FFF' %>
              <br>
            </div>
          </div>


        </div>
        <!-- Next event -->
        <!--
        <div class="item">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="row">
                <div class="col-md-12">
                  <div class="section">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12">
                          <h1 class="text-inverse">Jamie Oliver cooks in your home</h1>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                          <a href="#"><img src="https://s3-sa-east-1.amazonaws.com/losibaritas/jamieoliver.jpg" class="img-circle img-responsive"></a>
                        </div>
                        <div class="col-md-4"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-inverse"><i class="fa fa-map-marker"></i> San Francisco - <i class="fa fa-calendar"></i> 17 June 2015 - <i class="fa fa-money "></i> $99 per person</p>
              <br>

              <br>
            </div>
          </div>
        </div>
        -->

        <!-- Next event -->
        <!--
        <div class="item">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="row">
                <div class="col-md-12">
                  <div class="section">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12">
                          <h1 class="text-inverse">Arnaud Baloche cooks in your home</h1>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                          <a href="#"><img src="https://s3-sa-east-1.amazonaws.com/losibaritas/ArnaudBaloche.jpg" class="img-circle img-responsive"></a>
                        </div>
                        <div class="col-md-4"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-inverse"><i class="fa fa-map-marker"></i> San Francisco - <i class="fa fa-calendar"></i> 17 June 2015 - <i class="fa fa-money "></i> $99 per person</p>
              <br>

              <br>
            </div>
          </div>
        </div>
        -->

      </div>
      <a class="left carousel-control" href="#carousel-example" data-slide="prev"><i class="icon-prev  fa fa-angle-left"></i></a>
      <a class="right carousel-control" href="#carousel-example" data-slide="next"><i class="icon-next fa fa-angle-right"></i></a>
    </div>


  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-primary">¿Por qué escoger ‘LoSibaritas’?</h1>
        <p>Un sin número de razones vienen a la mente. Para nosotros la comida es un concepto que incluye un estilo de vida y una experiencia única. Queremos que nuestra pasión por la comida cobre vida. ¿Te ha pasado que quieres organizar una reunión con amigos o familia y de repente algo te detiene? Ir de compras, cocinar y después limpiar… ‘Los Sibaritas’ te da la oportunidad de no preocuparte por los detalles y solo disfrutar de la reunión. Reserva un chef privado y disfruta la oportunidad de tener una experiencia culinaria única en tu mesa.</p>
      </div>
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/x7E2yCU9YkU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-primary">¿Cómo functiona?</h1>
        <h3>El processo es simple.</h3>
        <p>
        <div class="well"><h4>Nuestro chef profesional te ofrece este exclusivo y único servicio en la fecha indicada.</h4></div>
        <div class="well"><h4>Disfruta de un menú especializado con ingredientes de calidad en la comodidad de tu casa</h4></div>
        <div class="well"><h4>Reserva ahora, ingresa tus datos  y nuestro chef se pondrá en contacto contigo</h4></div>
        <div class="well"><h4>Ahora sólo disfruta y vive la experiencia “Sibarita”</h4></div>
        <h3>No pierdas la oportunidad de <a href="#">reservar ahora</a></h3>
        </p>
      </div>
    </div>
  </div>
</div>

<a name="team"></a>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="text-primary">Nuestro equipo</h2>
        <h3>Siete personas, siete países, dos continentes, cinco idiomas - <strong>una vision</strong></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <img src="https://s3-sa-east-1.amazonaws.com/losibaritas/team.jpg" class="img-responsive img-rounded">
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-5">
        <table class="table">
          <tr>
            <td>Andrea Barone</h4></td>
            <td>Italia</p></td>
            <td><a href="https://twitter.com/andreabarone89"><i class="fa fa-twitter"></i></a></td>
            <td><a href="https://www.facebook.com/andrea.barone.94651"><i class="fa fa-facebook"></i></a></td>
            <td><a href="https://uk.linkedin.com/in/andreabarone1989"><i class="fa fa-linkedin"></i></a></td>
          </tr>
          <tr>
            <td>Arnaud Baloche</h4></td>
            <td>France</p></td>
            <td><a href="https://twitter.com/ArnaudBaloche"><i class="fa fa-twitter"></i></a></td>
            <td><a href="https://www.facebook.com/arnaud.baloche.1"><i class="fa fa-facebook"></i></a></td>
            <td><a href="https://uk.linkedin.com/in/arnaudbaloche"><i class="fa fa-linkedin"></i></a></td>
          </tr>
          <tr>
            <td>Fernando Balart</h4></td>
            <td>Chile</p></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Janina Vargas</h4></td>
            <td>Ecuador</p></td>
            <td></td>
            <td><a href="https://www.facebook.com/janina.vargas.3"><i class="fa fa-facebook"></i></a></td>
            <td><a href="http://uk.linkedin.com/in/jvargas89/en"><i class="fa fa-linkedin"></i></a></td>
          </tr>
        </table>
      </div>
      <div class="col-lg-5">
        <table class="table">
          <tr>
            <td>Kai Zimmer</h4></td>
            <td>Alemania</p></td>
            <td><a href="https://twitter.com/Zimmer2020"><i class="fa fa-twitter"></i></a></td>
            <td><a href="https://www.facebook.com/kai.zimmer"><i class="fa fa-facebook"></i></a></td>
            <td><a href="https://uk.linkedin.com/in/zimmerkai"><i class="fa fa-linkedin"></i></a></td>
          </tr>
          <tr>
            <td>Raul Otero</h4></td>
            <td>Perú</p></td>
            <td><a href="https://twitter.com/RaulOteroR"><i class="fa fa-twitter"></i></a></td>
            <td><a href="https://www.facebook.com/raul.otero.9277"><i class="fa fa-facebook"></i></a></td>
            <td><a href="https://pe.linkedin.com/in/raulotero"><i class="fa fa-linkedin"></i></a></td>
          </tr>
          <tr>
            <td>Ricardo Rodrigues</h4></td>
            <td>Portugal</p></td>
            <td><a href="https://twitter.com/ricardopresa"><i class="fa fa-twitter"></i></a></td>
            <td><a href="https://uk.linkedin.com/in/ricardopresarodrigues"><i class="fa fa-linkedin"></i></a></td>
          </tr>
        </table>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</div>

<a name="contact"></a>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-primary text-center">Contáctenos</h1>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-1"></div>
      <div class="col-md-2 text-center">
        <a href="https://instagram.com/losibaritas"><i class="fa fa-5x fa-fw fa-instagram"></i></a>
      </div>
      <div class="col-md-2">
        <a href="https://twitter.com/losibaritas"><i class="fa fa-5x fa-fw fa-twitter"></i></a>
      </div>
      <div class="col-md-2">
        <a href="https://www.facebook.com/losibaritas"><i class="fa fa-5x fa-fw fa-facebook"></i></a>
      </div>
      <div class="col-md-2">
        <a href="http://losibaritas.tumblr.com/"><i class="fa fa-5x fa-fw fa-tumblr"></i></a>
      </div>
      <div class="col-md-2 text-center">
        <a href="mailto:sibaritas.chefs@gmail.com"><i class="fa fa-5x fa-fw hub fa-envelope-o"></i></a>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>