<div class="cover">
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><span style="font-family:Handlee; color:#FFF">LoSibaritas</span></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#" style="color:#FFF">¡Soy chef!</a>
          </li>
          <li>
            <a href="#" style="color:#FFF">Contact Us</a>
          </li>
          <li>
            <a href="http://losibaritas.tumblr.com" style="color:#FFF">Blog</a>
          </li>
          <li>
            <a href="#" style="color:#FFF">Nuestro Equipo</a>
          </li>
          <li>
            <a href="#" style="color:#FFF">Idioma</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="cover-image" style="background-image : url('https://s3-sa-east-1.amazonaws.com/losibaritas/launchpage.jpg')"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="row">
          <div class="col-md-12">
            <div class="section">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <h1 class="text-inverse">Gastón Acurio cocina en su casa</h1>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <a href="#"><img src="https://s3-sa-east-1.amazonaws.com/losibaritas/gaston.jpg" class="img-circle img-responsive"></a>
                  </div>
                  <div class="col-md-4"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="text-inverse"><i class="fa fa-map-marker"></i> Lima - <i class="fa fa-calendar"></i> 17 mayo 2015 - <i class="fa fa-money "></i> S./ 85 por persona</p>
        <br>
        <%= link_to t(:MenuBookNow), event_path(1), class: 'btn btn-lg btn-primary', style: 'color:#FFF' %>
        <br>
    </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-primary">¿Por qué escoger ‘LoSibaritas’?</h1>
        <p>Un sin número de razones vienen a la mente. Para nosotros la comida es un concepto que incluye un estilo de vida y una experiencia única. Queremos que nuestra pasión por la comida cobre vida. ¿Te ha pasado que quieres organizar una reunión con amigos o familia y de repente algo te detiene? Ir de compras, cocinar y después limpiar… ‘Los Sibaritas’ te da la oportunidad de no preocuparte por los detalles y solo disfrutar de la reunión. Reserva un chef privado y disfruta la oportunidad de tener una experiencia culinaria única en tu mesa.</p>
      </div>
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/x7E2yCU9YkU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-primary">¿Cómo functiona?</h1>
        <p>Es un proceso simple. Escoge el lugar, la fecha y la hora. Una selección de chef con sus respectivos menús estarán a tu disposición. Puedes escoger el chef que quieras de acuerdo a tus preferencias y necesidades. Una vez que lo escojas, selecciona el número de invitados y reserva.</p>
      </div>
      <div class="col-md-3">
        <img src="https://s3-sa-east-1.amazonaws.com/losibaritas/step1.jpg"
             class="img-responsive">
        <h2>Search for date and time</h2>
        <p>Filter menus based on date, location and tastes</p>
      </div>
      <div class="col-md-3">
        <img src="https://s3-sa-east-1.amazonaws.com/losibaritas/step2.jpg"
             class="img-responsive">
        <h2>Select a chef and menu</h2>
        <p>Read about the chefs and their menus and select the one you like</p>
      </div>
      <div class="col-md-3">
        <img src="https://s3-sa-east-1.amazonaws.com/losibaritas/step3.jpg"
             class="img-responsive img-rounded">
        <h2>Order</h2>
        <p>Order, leave your contact details and the chef will contact you, once he confirms and payment is processed.</p>
      </div>
      <div class="col-md-3">
        <img src="https://s3-sa-east-1.amazonaws.com/losibaritas/step4.jpg"
             class="img-responsive">
        <h2>Enjoy</h2>
        <p>Enjoy the chef at home experience with friends and family</p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="text-primary">Nuestro equipo</h2>
        <h3 class="text-muted">Siete personas, siete países, dos continentes, cinco idiomas - <strong>una vision</strong></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <img src="https://s3-sa-east-1.amazonaws.com/losibaritas/team.jpg" class="img-responsive img-rounded">
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-5">
        <table class="table">
          <tr>
            <td>Andrea Barone</h4></td>
            <td>Italia</p></td>
            <td><a href="https://twitter.com/andreabarone89"><i class="fa fa-twitter"></i></a></td>
            <td><a href="https://www.facebook.com/andrea.barone.94651"><i class="fa fa-facebook"></i></a></td>
            <td><a href="https://uk.linkedin.com/in/andreabarone1989"><i class="fa fa-linkedin"></i></a></td>
          </tr>
          <tr>
            <td>Arnaud Baloche</h4></td>
            <td>France</p></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Fernando Balart</h4></td>
            <td>Chile</p></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Janina Vargas</h4></td>
            <td>Ecuador</p></td>
            <td></td>
            <td><a href="https://www.facebook.com/janina.vargas.3"><i class="fa fa-facebook"></i></a></td>
            <td><a href="http://uk.linkedin.com/in/jvargas89/en"><i class="fa fa-linkedin"></i></a></td>
          </tr>
        </table>
      </div>
      <div class="col-lg-5">
        <table class="table">
          <tr>
            <td>Kai Zimmer</h4></td>
            <td>Alemania</p></td>
            <td><a href="https://twitter.com/Zimmer2020"><i class="fa fa-twitter"></i></a></td>
            <td><a href="https://www.facebook.com/kai.zimmer"><i class="fa fa-facebook"></i></a></td>
            <td><a href="https://uk.linkedin.com/in/zimmerkai"><i class="fa fa-linkedin"></i></a></td>
          </tr>
          <tr>
            <td>Raul Otero</h4></td>
            <td>Perú</p></td>
            <td><a href="https://twitter.com/RaulOteroR"><i class="fa fa-twitter"></i></a></td>
            <td><a href="https://www.facebook.com/raul.otero.9277"><i class="fa fa-facebook"></i></a></td>
            <td><a href="https://pe.linkedin.com/in/raulotero"><i class="fa fa-linkedin"></i></a></td>
          </tr>
          <tr>
            <td>Ricardo Rodrigues</h4></td>
            <td>Portugal</p></td>
            <td><a href="https://twitter.com/ricardopresa"><i class="fa fa-twitter"></i></a></td>
            <td><a href="https://uk.linkedin.com/in/ricardopresarodrigues"><i class="fa fa-linkedin"></i></a></td>
          </tr>
        </table>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-primary text-center">Contáctenos</h1>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-1"></div>
      <div class="col-xs-2 text-center">
        <a href="https://instagram.com/losibaritas"><i class="fa fa-5x fa-fw fa-instagram"></i></a>
      </div>
      <div class="col-xs-2">
        <a href="https://twitter.com/losibaritas"><i class="fa fa-5x fa-fw fa-twitter"></i></a>
      </div>
      <div class="col-xs-2">
        <a href="https://www.facebook.com/losibaritas"><i class="fa fa-5x fa-fw fa-facebook"></i></a>
      </div>
      <div class="col-xs-2">
        <a href="http://losibaritas.tumblr.com/"><i class="fa fa-5x fa-fw fa-tumblr"></i></a>
      </div>
      <div class="col-xs-2 text-center">
        <a href="mailto:sibaritas.chefs@gmail.com"><i class="fa fa-5x fa-fw hub fa-envelope-o"></i></a>
      </div>
      <div class="col-xs-1"></div>
    </div>
  </div>
</div>